@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary: #111111;
  --accent: #eb5757;
  --accent2: #bde7e7;
  --gray-dark: #2d3436;
  --gray-mid: #b2bec3;
  --gray-light: #f4f4f4;
  --gray-light2: #eeeeee;
  --gray-body: #f9f9f9;
}

section {
  border: none;
}

.ardu_title,
.entry_title,
.app_title {
  text-align: center;
  line-height: 1.6;
}

.ardu_title h2,
.entry_title h2,
.app_title h2 {
  font-size: 45px;
  font-weight: 500;
}

.ardu_title p,
.entry_title p,
.app_title p {
  font-size: 25px;
  padding: 20px 0;
  border-top: 1px solid var(--gray-mid);
  border-bottom: 1px solid var(--gray-mid);
}

.ardu_explan,
.entry_explan,
.app_explan {
  /* background: #fff; */
  height: 500px;
  margin: 20px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 0;
  border-top: 1px solid var(--gray-mid);
}

.btns button {
  font-size: 20px;
  background: #fff;
  border: 1px solid var(--gray-dark);
  padding: 10px 80px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  margin: 0 100px;
  transition: font_wight 0.3s, border 0.3s;
}

.btns button:hover {
  font-weight: 900;
  border: 2px solid var(--gray-dark);
}

.my_photo {
  /* padding-top: 50px; */
}

.my_photo img {
  width: 100%;
  height: 600px;
}
.my_intro {
  font-size: 20px;
  height: 500px;
  background: #fff;
  margin-top: 50px;
  padding: 50px 100px;
  line-height: 2;
}
